<font size ="3">
<div style="float:left; padding:20px" >
 <div class="control-group">
<p>
<strong>Name:</strong>

<%= @album.Name %>
</p>

<p>
<strong>Description:</strong>

<%=@album.Description %>
</p>

</div>

<p>
 <strong>Photos:</strong>
 </p>

<div class="row">

  <div class="col-sm-6 col-sm-3">

   <a href="#" class="thumbnail">

      <%@album.pictures.each do |f| %>
 
         <%= image_tag f.photo.url %>
           <% f.tags.each do |p| %>    
           <h4>Tags:</h4>             
               <%= p.name %>   
               <% end%>
              <%end%> 
                  </a>   
       </div>
   </div>
   

<p><br><br>
<%= link_to 'Show All Albums',albums_path,:class => 'btn btn-info' %>
</br>
</br>
</p>
</font>
