<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    
     <% if user_signed_in? %>
       <div class="pull-right">
        <%= current_user.email %><br/>
        
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete%></div>
         

         <% else %>
         <div class="pull-left">
            <%= link_to 'Register',new_user_registration_path,:class=>'btn btn-info'%> <%= link_to 'Sign in', new_user_session_path,:class=>'btn btn-info'  %>
         
            </div> 
         <% end %>
    <%= yield %>

    </body>
</html>
